@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.home-page{
    text-align: center;
    padding-top: 10vh;
}

.heading{
    color: #051c33;
    font-family: 'Dancing Script', cursive;
    font-weight: bolder;
    font-size: 70px;
}

