@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.image-details {
    height: 30vh;
    width: 30vw;
}

.unorderedList {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.btns-container {
    margin-top: 40px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn {
    background-color: #051c33;
    color: #ffffff;
    margin-right: 40px;
    margin-left: 40px;
    border-width: 0px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
}

.pictures-heading {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    margin-top: 40px;
    text-align: center;
}

.search-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.search-icon-container {
    background-color: #051c33;
}

.input-element {
    height: 40px;
    width: 350px;
    font-size: 20px;
    padding-left: 7px;
    border-width: 2px;
    border-style: solid;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-color: #d7dbdf;
    background-color: #edeff0;
}

.search-icon {
    padding-top: 13px;
    color: aliceblue;
    padding-left: 13px;
    padding-right: 13px;
}

.LoaderEl {
    margin-left: 140%;
}

.Error-container {
    grid-column: 1/4;
    align-items: center;
}

.Error-heading {
    text-align: center;
}

.Error-suggetion {
    text-align: center;
}

@media screen and (max-width: 800px) {
    .image-details {
        height: 18vh;
    }

    .unorderedList {
        grid-template-columns: 1fr 1fr;
        grid-gap: 0px;
        text-align: center;
    }

    .list-item-image-container {
        align-items: end;
    }

    .input-element {
        width: 250px;
    }

    .btns-container {
        flex-direction: column;
    }

    .btn-sub-container-1 {
        margin-bottom: 15px;
    }

    .LoaderEl {
        margin-left: auto;
    }

}